.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-45 {
  margin-top: 45px;
}

.margin-top-60 {
  margin-top: 60px;
}

h1 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

h5 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

h6 {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

